* {
    color: black;
    }
    
.bar {
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

div.container {
    width: 100%;
}

div.debateButtons{
	float:left;
	padding: 10px;
}
div.candidateButtons{
	padding: 10px;
}
div.dateButtons{
	clear:both;
	padding: 10px;
}
#datevalue{
	width:500px;
}
#play{
	font-size: 16px;
	border: 2px solid;
	border-radius: 10px;
}

.candidateButton{
	font-size: 14px;
	border-radius: 5px;
}